<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title CoooooolGame
  link(rel="stylesheet", href="css/normalize.css")
  meta(content="initial-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no" name="viewport")
body
  div(id="app")
  //- script(src="http://192.168.199.182:8091/public/js/app.js")
  script(src="js/app.js")
